h1 {
    color:darkblue;
    text-align: center;
    font-family: "Monaco",monospace;
}
.header {
    background-color: #a3c2c2;
    text-align: center;
    padding:5px;
    font-size: x-large;
    width:100%;
    opacity:0.8;
}
.header a {
        text-decoration: none;
        color: black;
}
.navbar {
    overflow: hidden;
    background-color: black;
    opacity:0.8;
}
body{
    background-image: url("img1.jpg");
    background-size:cover;
}
.navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.Meet {
    position:absolute;
    top:50%;
    left:35%;
    text-align: center;
    font-size:50px;
    font-family: "Monaco",monospace;
    color:whitesmoke;
}
.backImg {
    height:700px;
    width:100%;
    z-index: -1;
}
#contactInformation{
    top:90%;
}